html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
li{list-style: none;}
a{display: block; width: 100%; text-decoration: none; color: #000;}
/*---------------------------------*/
@font-face {
  font-family: 'DINBla';
  font-style: normal;
  font-weight: 400;
  src: url(../font/DINBla.ttf);
  src: url(../font/DINBla.ttf) format('truetype');
}
@font-face {
  font-family: 'DINLig';
  font-style: normal;
  font-weight: 400;
  src: url(../font/DINLig.ttf);
  src: url(../font/DINLig.ttf) format('truetype');
}
body, html, article{height: 100%;}
body{max-width: 1360px;}
#s1{left: 0;
    top: 0;
    width: 500px;
    height: 100%;
  /*background-color: blue;*/
position: fixed;}
#s1 h1{font-family: DINBla; font-size: 60px; color: red;
width: 272px; position: absolute; top: 50%; left: 50%; margin-left: -136px; margin-top: -36px;}

#s2{height: 100%;/*background-color: yellow;*/padding-left: 500px;}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: white;
    color: red;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
		color: white;
}

.container {
    background-color: #f2f2f2;
    padding: 20px;
		position: absolute;
		height: 489px;
		top: 50%;
		margin-top: -244px;
}
#s3{color: gray; font-size: 12px;}
#s3 ul{float: right;}
#s3 ul li{float: left;}
#s3 ul li dl{padding: 25px;}
#s3 ul li dl dt{padding-bottom: 10px;}
#s3 ul li dl dd{font-family: DINLig;}
